In [1]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd

In [5]:
# Create an engine that can talk to the database
db_string = f"postgresql://postgres:appleapple@covidpatients.cqbgcjbaetrj.us-west-1.rds.amazonaws.com:5432/covid_patients"
engine = create_engine(db_string)

In [6]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['pat_demographic',
 'pat_underlying',
 'pat_hospitalization',
 'pat_miscellaneous']

In [7]:
# Make a connection to the SQL database
conn = engine.connect()

In [8]:
# Query All Records in the the pat_demographic db
demo_data_df = pd.read_sql("SELECT * FROM pat_demographic", conn)

In [9]:
# renaming the columns
demo_data_df.columns = ["id", "ido", "country_of_origin", "nationality", "migrant", "speaking_language", "nationality", 
                        "age", "municipality_res", "national_entity", "sex", "sector", "source", "abr_ent", "entity", 
                        "registration_entity", "entity_res" ]
demo_data_df.head()

,id,ido,country_of_origin,nationality,migrant,speaking_language,nationality,age,municipality_res,national_entity,sex,sector,source,abr_ent,entity,registration_entity,entity_res
0,0,0,Espa単a,Canada,2,1,1,24,308,9,2,7,1,MN,Hidalgo,14,11
1,1,1,Gran Breta単a (Reino Unido),Haiti,1,1,2,6,135,6,1,5,1,ZS,Hidalgo,28,12
2,2,2,Peru,Canada,1,1,1,115,366,5,1,3,1,PL,Tlaxcala,15,32
3,3,3,Bolivia,Eritrea,2,1,2,87,104,14,2,5,2,OC,Morelos,6,24
4,4,4,Peru,Canada,1,2,1,94,137,29,1,2,1,TS,Campeche,9,30

In [10]:
demo_data_df.dtypes

id                      int64
ido                    object
country_of_origin      object
nationality            object
migrant                 int64
speaking_language       int64
nationality             int64
age                     int64
municipality_res        int64
national_entity         int64
sex                     int64
sector                  int64
source                  int64
abr_ent                object
entity                 object
registration_entity     int64
entity_res              int64
dtype: object

In [11]:
# Query All Records in the the pat_underlying db
underlying_data_df = pd.read_sql("SELECT * FROM pat_underlying", conn)

In [12]:
# renaming the columns
underlying_data_df.columns = ["id", "ido", "pregnancy", "pneumonia", "diabetes", "copd", "asthma", "immunosuppression", "hypertension", 
                              "cardiovascular", "other_desease", "obesity", "chronic_renal", "smoking", "contact_pos_case"]
underlying_data_df.head()

,id,ido,pregnancy,pneumonia,diabetes,copd,asthma,immunosuppression,hypertension,cardiovascular,other_desease,obesity,chronic_renal,smoking,contact_pos_case
0,0,0,2,2,2,2,2,2,1,2,2,2,1,1,1
1,1,1,1,1,1,1,1,2,1,1,1,2,1,2,1
2,2,2,2,1,1,1,2,1,2,1,2,2,1,2,1
3,3,3,1,1,1,2,1,2,1,2,1,1,2,2,2
4,4,4,2,1,1,2,2,1,1,2,1,1,2,2,2

In [13]:
# Query All Records in the the pat_hospitalization db
hosp_data_df = pd.read_sql("SELECT * FROM pat_hospitalization", conn)

In [14]:
hosp_data_df.columns = ["id", "ido", "result", "delay", "patient_type", "admission_date", "symptoms_date", "medical_unit",
                       "intubated", "ICU", "death_date"]

In [15]:
hosp_data_df['deceased'] = (hosp_data_df['death_date']!='9999-99-99').astype(int)
hosp_data_df.describe()

,id,result,delay,patient_type,medical_unit,intubated,ICU,deceased
count,263007.000000,263007.000000,263007.0,263007.000000,263007.000000,263007.000000,263007.000000,263007.0
mean,131503.000000,1.500234,0.0,1.499257,16.475782,1.500831,1.499994,1.0
std,75923.725462,0.500001,0.0,0.500000,9.233855,0.500000,0.500001,0.0
min,0.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.0
25%,65751.500000,1.000000,0.0,1.000000,8.000000,1.000000,1.000000,1.0
50%,131503.000000,2.000000,0.0,1.000000,16.000000,2.000000,1.000000,1.0
75%,197254.500000,2.000000,0.0,2.000000,24.000000,2.000000,2.000000,1.0
max,263006.000000,2.000000,0.0,2.000000,32.000000,2.000000,2.000000,1.0

In [16]:
df = hosp_data_df.applymap(str)
df.describe(include='all')

,id,ido,result,delay,patient_type,admission_date,symptoms_date,medical_unit,intubated,ICU,death_date,deceased
count,263007,263007,263007,263007,263007,263007,263007,263007,263007,263007,263007,263007
unique,263007,263007,2,1,2,154,153,32,2,2,144,1
top,0,0,2,0,1,2020-03-24 00:00:00,2020-05-29 00:00:00,15,2,1,2020-02-25,1
freq,1,1,131565,263007,131699,1798,1851,8368,131722,131505,1921,263007

In [18]:
# Query All Records in the the pat_miscellaneous db
misc_data_df = pd.read_sql("SELECT * FROM pat_miscellaneous", conn)

In [19]:
misc_data_df.columns = ["id", "ID", "ido","archive_date", "date_of_the_last_update"]
misc_data_df.head()

   id       ID ido archive_date date_of_the_last_update
0   0  5027716   0   2020-05-21              2020-06-01
1   1  1977782   1   2020-05-02              2020-04-22
2   2  4534761   2   2020-05-16              2020-04-20
3   3   739374   3   2020-05-03              2020-05-25
4   4  6810089   4   2020-04-16              2020-05-08

In [20]:
# Check for missing values
demo_data_df.isnull().sum()

id                     0
ido                    0
country_of_origin      0
nationality            0
migrant                0
speaking_language      0
nationality            0
age                    0
municipality_res       0
national_entity        0
sex                    0
sector                 0
source                 0
abr_ent                0
entity                 0
registration_entity    0
entity_res             0
dtype: int64

In [21]:
underlying_data_df.isnull().sum()

id                   0
ido                  0
pregnancy            0
pneumonia            0
diabetes             0
copd                 0
asthma               0
immunosuppression    0
hypertension         0
cardiovascular       0
other_desease        0
obesity              0
chronic_renal        0
smoking              0
contact_pos_case     0
dtype: int64

In [22]:
hosp_data_df.isnull().sum()

id                0
ido               0
result            0
delay             0
patient_type      0
admission_date    0
symptoms_date     0
medical_unit      0
intubated         0
ICU               0
death_date        0
deceased          0
dtype: int64

In [23]:
misc_data_df.isnull().sum()

id                         0
ID                         0
ido                        0
archive_date               0
date_of_the_last_update    0
dtype: int64