In [2]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd

In [3]:
# Create an engine that can talk to the database
db_string = f"postgresql://postgres:pass@covidpatients.cqbgcjbaetrj.us-west-1.rds.amazonaws.com:5432/covid_patients"
engine = create_engine(db_string)

In [4]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['pat_demographic',
 'pat_underlying',
 'pat_hospitalization',
 'pat_miscellaneous']

In [5]:
# Make a connection to the SQL database
conn = engine.connect()

In [6]:
# Query All Records in the the pat_demographic db
demo_data_df = pd.read_sql("SELECT * FROM pat_demographic", conn)
demo_data_df.head()

,index,ID_REGISTRO,PAIS_ORIGEN,PAIS_NACIONALIDAD,MIGRANTE,HABLA_LENGUA_INDIG,NACIONALIDAD,EDAD,MUNICIPIO_RES,ENTIDAD_NAC,SEXO,SECTOR,ORIGEN,ABR_ENT,ENTIDAD,ENTIDAD_REGISTRO,ENTIDAD_RES
0,0,0,Espa単a,Canada,2,1,1,24,308,9,2,7,1,MN,Hidalgo,14,11
1,1,1,Gran Breta単a (Reino Unido),Haiti,1,1,2,6,135,6,1,5,1,ZS,Hidalgo,28,12
2,2,2,Peru,Canada,1,1,1,115,366,5,1,3,1,PL,Tlaxcala,15,32
3,3,3,Bolivia,Eritrea,2,1,2,87,104,14,2,5,2,OC,Morelos,6,24
4,4,4,Peru,Canada,1,2,1,94,137,29,1,2,1,TS,Campeche,9,30

In [9]:
# renaming the columns
demo_data_df.columns = ["id", "ido", "country_of_origin", "nationality", "migrant", "speaking_language", "nationality", 
                        "age", "municipality_res", "national_entity", "sex", "sector", "source", "abr_ent", "entity", 
                        "registration_entity", "entity_res" ]
demo_data_df.columns

Index(['id', 'ido', 'country_of_origin', 'nationality', 'migrant',
       'speaking_language', 'nationality', 'age', 'municipality_res',
       'national_entity', 'sex', 'sector', 'source', 'abr_ent', 'entity',
       'registration_entity', 'entity_res'],
      dtype='object')

In [10]:
# Query All Records in the the pat_underlying db
underlying_data_df = pd.read_sql("SELECT * FROM pat_underlying", conn)
underlying_data_df.head()

,index,ID_REGISTRO,EMBARAZO,NEUMONIA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OTRA_COM,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO
0,0,0,2,2,2,2,2,2,1,2,2,2,1,1,1
1,1,1,1,1,1,1,1,2,1,1,1,2,1,2,1
2,2,2,2,1,1,1,2,1,2,1,2,2,1,2,1
3,3,3,1,1,1,2,1,2,1,2,1,1,2,2,2
4,4,4,2,1,1,2,2,1,1,2,1,1,2,2,2

In [13]:
# renaming the columns
underlying_data_df.columns = ["id", "ido", "pregnancy", "pneumonia", "diabetes", "copd", "asthma", "immunosuppression", "hypertension", 
                              "cardiovascular", "other_desease", "obesity", "chronic_renal", "smoking", "contact_pos_case"]
underlying_data_df.columns

Index(['id', 'ido', 'pregnancy', 'pneumonia', 'diabetes', 'copd', 'asthma',
       'immunosuppression', 'hypertension', 'cardiovascular', 'other_desease',
       'obesity', 'chronic_renal', 'smoking', 'contact_pos_case'],
      dtype='object')

In [14]:
# Query All Records in the the pat_hospitalization db
hosp_data_df = pd.read_sql("SELECT * FROM pat_hospitalization", conn)
hosp_data_df.head()

,index,ID_REGISTRO,RESULTADO,DELAY,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,ENTIDAD_UM,INTUBADO,UCI,FECHA_DEF
0,0,0,1,0,2,2020-04-09,2020-05-01,27,2,1,2020-04-27
1,1,1,1,0,1,2020-03-29,2020-05-18,8,1,1,2020-02-26
2,2,2,2,0,2,2020-03-07,2020-05-21,5,2,2,2020-03-20
3,3,3,1,0,2,2020-03-18,2020-03-05,17,1,2,2020-04-11
4,4,4,2,0,2,2020-03-08,2020-02-15,11,2,2,2020-01-14

In [17]:
hosp_data_df.columns = ["id", "ido", "result", "delay", "patient_type", "admission_date", "symptoms_date", "medical_unit",
                       "intubated", "ICU", "death_date"]
hosp_data_df.columns

Index(['id', 'ido', 'result', 'delay', 'patient_type', 'admission_date',
       'symptoms_date', 'medical_unit', 'intubated', 'ICU', 'death_date'],
      dtype='object')

In [18]:
# Query All Records in the the pat_miscellaneous db
misc_data_df = pd.read_sql("SELECT * FROM pat_miscellaneous", conn)
misc_data_df.head()

   index       ID ID_REGISTRO FECHA_ARCHIVO FECHA_ACTUALIZACION
0      0  5027716           0    2020-05-21          2020-06-01
1      1  1977782           1    2020-05-02          2020-04-22
2      2  4534761           2    2020-05-16          2020-04-20
3      3   739374           3    2020-05-03          2020-05-25
4      4  6810089           4    2020-04-16          2020-05-08

In [21]:
misc_data_df.columns = ["id", "ID", "ido","archive_date", "date_of_the_last_update"]
misc_data_df.columns

Index(['id', 'ID', 'ido', 'archive_date', 'date_of_the_last_update'], dtype='object')