In [1]:
# Import libraries
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
from config import db_password

# Pandas
import pandas as pd
from collections import Counter

import matplotlib.pyplot as plt
import numpy as np

from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import classification_report

from sklearn.svm import SVC

In [2]:
# Create an engine that can talk to the database
db_string = f"postgresql://postgres:{db_password}@prodsamplecovidpatients.cqbgcjbaetrj.us-west-1.rds.amazonaws.com:5432/sample_covid_patients"
engine = create_engine(db_string)

In [3]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['patient']

In [4]:
# Make a connection to the SQL database
conn = engine.connect()

In [5]:
# Query 20000 Records in the the patient db
prov_df = pd.read_sql("SELECT * FROM patient LIMIT 20000", conn)

In [6]:
prov_df.head()

,index,data_file_updated,id_patient,resp_monitoring,type_institution,state_medical_unit,gender,state_patient_birth,state_residence,city_patient_birth,...,closed_contanct,lab_sample,lab_result,antigen_sample,antigen_result,final_class,migrant,country_nationality,country_patient_birth,icu
0,0,2022-06-16,z3bf80,2,12,8,2,8,8,37,...,2,1,1,2,97,3,99,México,97,97
1,1,2022-06-16,z1e370,1,12,14,1,14,14,85,...,2,1,2,2,97,7,99,México,97,97
2,2,2022-06-16,zze974,1,6,24,1,24,24,35,...,1,1,2,2,97,7,99,México,97,97
3,3,2022-06-16,zz7067,1,12,9,2,9,9,7,...,2,1,2,2,97,7,99,México,97,97
4,4,2022-06-16,z1da1e,1,12,1,2,1,1,1,...,1,1,2,2,97,7,99,México,97,97

In [7]:
prov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  20000 non-null  int64
 1   data_file_updated      20000 non-null  object
 2   id_patient             20000 non-null  object
 3   resp_monitoring        20000 non-null  int64
 4   type_institution       20000 non-null  int64
 5   state_medical_unit     20000 non-null  int64
 6   gender                 20000 non-null  int64
 7   state_patient_birth    20000 non-null  int64
 8   state_residence        20000 non-null  int64
 9   city_patient_birth     20000 non-null  int64
 10  type_patient           20000 non-null  int64
 11  date_admitted          20000 non-null  object
 12  date_patient_symp      20000 non-null  object
 13  date_patient_death     20000 non-null  object
 14  intubated              20000 non-null  int64
 15  pneumonia              20000 non-null  int64
 16  age                    20000 non-null  int64
 17  resident               20000 non-null  int64
 18  pregnant               20000 non-null  int64
 19  indigenous_lang        20000 non-null  int64
 20  indigenous             20000 non-null  int64
 21  diabetes               20000 non-null  int64
 22  copd                   20000 non-null  int64
 23  asthma                 20000 non-null  int64
 24  immunosup              20000 non-null  int64
 25  hypertension           20000 non-null  int64
 26  another_complication   20000 non-null  int64
 27  cardiovascular         20000 non-null  int64
 28  obesity                20000 non-null  int64
 29  renal_chronic          20000 non-null  int64
 30  tobacco                20000 non-null  int64
 31  closed_contanct        20000 non-null  int64
 32  lab_sample             20000 non-null  int64
 33  lab_result             20000 non-null  int64
 34  antigen_sample         20000 non-null  int64
 35  antigen_result         20000 non-null  int64
 36  final_class            20000 non-null  int64
 37  migrant                20000 non-null  int64
 38  country_nationality    20000 non-null  object
 39  country_patient_birth  20000 non-null  object
 40  icu                    20000 non-null  int64
dtypes: int64(34), object(7)
memory usage: 6.3+ MB

In [8]:
# columns to keep
keep_col = ['gender',
        'intubated', 'pneumonia', 'age',
       'pregnant', 'diabetes', 'copd',
       'asthma', 'immunosup', 'hypertension',
       'cardiovascular', 'obesity', 'renal_chronic', 'tobacco']

In [9]:
# Encode the target: people with high risk date as 1, and people low risk as 0
prov_df['high_risk'] = (prov_df['date_patient_death']!='9999-99-99').astype(int)
prov_df.head()

,index,data_file_updated,id_patient,resp_monitoring,type_institution,state_medical_unit,gender,state_patient_birth,state_residence,city_patient_birth,...,lab_sample,lab_result,antigen_sample,antigen_result,final_class,migrant,country_nationality,country_patient_birth,icu,high_risk
0,0,2022-06-16,z3bf80,2,12,8,2,8,8,37,...,1,1,2,97,3,99,México,97,97,0
1,1,2022-06-16,z1e370,1,12,14,1,14,14,85,...,1,2,2,97,7,99,México,97,97,0
2,2,2022-06-16,zze974,1,6,24,1,24,24,35,...,1,2,2,97,7,99,México,97,97,0
3,3,2022-06-16,zz7067,1,12,9,2,9,9,7,...,1,2,2,97,7,99,México,97,97,0
4,4,2022-06-16,z1da1e,1,12,1,2,1,1,1,...,1,2,2,97,7,99,México,97,97,0

In [10]:
# Create the feature df X and the outcome variable y
y = prov_df['high_risk']
X = prov_df.loc[:, keep_col]

In [11]:
X.dtypes

gender            int64
intubated         int64
pneumonia         int64
age               int64
pregnant          int64
diabetes          int64
copd              int64
asthma            int64
immunosup         int64
hypertension      int64
cardiovascular    int64
obesity           int64
renal_chronic     int64
tobacco           int64
dtype: object

In [12]:
# train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({0: 14385, 1: 615})

# Combination Sampling for imbalanced data

In [13]:
# Use the SMOTEENN technique to perform combination sampling on the data
# Count the resampled classes
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 12915, 1: 11132})

# Logistic Regression

In [14]:
# Fit a Logistic regression model using random undersampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\safaa\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=1)

In [15]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[3668, 1099],
       [  58,  175]], dtype=int64)

In [16]:
# Calculate the Balanced Accuracy Score
balanced_accuracy_score(y_test, y_pred)

0.7602648213621725

In [17]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.98      0.77      0.75      0.86      0.76      0.58      4767
          1       0.14      0.75      0.77      0.23      0.76      0.58       233

avg / total       0.94      0.77      0.75      0.83      0.76      0.58      5000